* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  user-select: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.text-primary {
  color: #e60023 !important;
}

.text-secondary {
  color: #5f5f5f !important;
}

.border-radius-1 {
  border-radius: 1rem !important;
}

.border-radius-2 {
  border-radius: 2rem !important;
}

.border-radius-4 {
  border-radius: 4rem !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

.border-secondary {
  border: 1px solid #5f5f5f;
}

.fs-1 {
  font-size: 2rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.w-3 {
  width: 3rem;
}
.w-5 {
  width: 5rem;
}

.w-6 {
  width: 6rem;
}

.w-7 {
  width: 7rem;
}

.w-14 {
  width: 14rem !important;
}

.w-80 {
  width: 80% !important;
}

.fs-1 {
  font-size: 1rem;
}

.font-weight-bold {
  font-weight: 600;
}

.posistion-relative {
  position: relative;
}

.z-index-9999 {
  z-index: 9999;
}

.circle-hover {
  &:hover {
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 0 0 0 10px #ccc;
  }
}

// Flex:
.flex-025 {
  flex: 0.25;
}

.flex-075 {
  flex: 0.75;
}

.align-items-center {
  align-items: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

.hover-opacity-80 {
  &:hover {
    opacity: 0.8;
  }
}

.loading-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #e60023;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.close:hover {
  color: white;
  background-color: #e60023;
}

#basic-nav-dropdown {
  color: #343a40 !important;
  font-weight: bold;
}

.border-box {
  box-sizing: border-box !important;
}

.object-fit-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden !important;
}

// Responsive

@media (max-width: 961px) {
  #basic-nav-dropdown {
    display: block !important;
  }
}

@media (max-width: 540px) {
  .sm-display-none {
    display: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 961px) {
  .md-display-none {
    display: none;
  }
}

@media only screen and (max-width: 961px) {
  input {
    display: none;
  }

  #basic-nav-dropdown {
    display: none;
  }
}

@media (min-width: 992px) {
  .image-list li {
    width: 16.66%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .image-list li {
    width: 25%;
  }
}

@media (max-width: 767.98px) {
  .image-list li {
    width: 50%;
  }
}

@media (max-width: 360px) {
  .home-container {
    column-count: 1;
    max-width: 380px;
  }
}
@media (min-width: 360px) and (max-width: 755px) {
  .home-container {
    column-count: 2;
    max-width: 504px;
  }
}
@media (min-width: 756px) and (max-width: 1007px) {
  .home-container {
    column-count: 3;
    max-width: 756px;
  }
}
@media (min-width: 1008px) and (max-width: 1259px) {
  .home-container {
    column-count: 4;
    max-width: 1008px;
  }
}
@media (min-width: 1260px) and (max-width: 1511px) {
  .home-container {
    column-count: 5;
    max-width: 1260px;
  }
}
@media (min-width: 1512px) and (max-width: 1763px) {
  .home-container {
    column-count: 6;
    max-width: 1512px;
  }
}
@media (min-width: 1764px) and (max-width: 2015px) {
  .home-container {
    column-count: 7;
    max-width: 1764px;
  }
}
@media (min-width: 2016px) and (max-width: 2267px) {
  .home-container {
    column-count: 8;
    max-width: 2016px;
  }
}
@media (min-width: 2268px) and (max-width: 2519px) {
  .home-container {
    column-count: 9;
    max-width: 2268px;
  }
}
@media (min-width: 2520px) and (max-width: 2771px) {
  .home-container {
    column-count: 10;
    max-width: 2520px;
  }
}
@media (min-width: 2772px) and (max-width: 3023px) {
  .home-container {
    column-count: 11;
    max-width: 2772px;
  }
}
@media (min-width: 3024px) and (max-width: 3275px) {
  .home-container {
    column-count: 12;
    max-width: 3024px;
  }
}
@media (min-width: 3276px) and (max-width: 3527px) {
  .home-container {
    column-count: 13;
    max-width: 3276px;
  }
}
@media (min-width: 3528px) and (max-width: 3779px) {
  .home-container {
    column-count: 14;
    max-width: 3528px;
  }
}
@media (min-width: 3780px) and (max-width: 4031px) {
  .home-container {
    column-count: 15;
    max-width: 3780px;
  }
}
@media (min-width: 4032px) and (max-width: 4282px) {
  .home-container {
    column-count: 16;
    max-width: 4032px;
  }
}
@media (min-width: 4032px) and (max-width: 4283px) {
  .home-container {
    column-count: 16;
    max-width: 4032px;
  }
}
@media (min-width: 4284px) and (max-width: 4535px) {
  .home-container {
    column-count: 17;
    max-width: 4284px;
  }
}
@media (min-width: 4536px) and (max-width: 4787px) {
  .home-container {
    column-count: 18;
    max-width: 4536px;
  }
}
@media (min-width: 4788px) and (max-width: 5039px) {
  .home-container {
    column-count: 19;
    max-width: 4788px;
  }
}
